<style> 
</style>
<div class="mdl-tabs__panel is-active" id="sign-in">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sign-in-login" [(ngModel)]="email">
          <label class="mdl-textfield__label" for="sign-in-login">Login</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="sign-in-password" [(ngModel)]="password">
          <label class="mdl-textfield__label" for="sign-in-password">Password</label>
        </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="button" (click)="logIn()">
        Log in
      </button>
    </div>