<div [ngClass]="{'loadProgress': true}">
<div class="mdl-tabs__panel is-active"  id="sign-in">
  <form name="login-form" #formLogin="ngForm">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" required="" name="login" type="email" id="sign-in-login"  [(ngModel)]="email" >
      <label class="mdl-textfield__label" for="sign-in-login">Login</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" required="" name="password" minlength="6" type="password" id="sign-in-password" [(ngModel)]="password">
      <label class="mdl-textfield__label" for="sign-in-password">Password</label>
    </div>
    <div class="errorMessage" *ngIf="isError">{{isError}}</div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" [disabled]="!formLogin.valid"  id="button" (click)="logIn()">
    Log in
  </button>
  </form>
</div>
</div>