<style> 
</style>
<div class="mdl-tabs__panel is-active" id="sign-in">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sign-in-login">
          <label class="mdl-textfield__label" for="sign-in-login">Login</label>
        </div>
      </form>
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="sign-in-password">
          <label class="mdl-textfield__label" for="sign-in-password">Password</label>
        </div>
      </form>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="button">
        Log in
      </button>
    </div>