<div class="loading-container" [hidden]="!isError">
  <div><i class="material-icons error-icon">error_outline</i></div>
  <div>An error occured, please try again later</div>
</div>

<div class="loading-container" [hidden]="isLoadFinished">
  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active test"></div>
  <div>Please wait, data is loading...</div>
</div>

<div [hidden]="!isLoadFinished">
  <div *ngIf="user">
    <div class="user-details-header mdl-layout__header-row mdl-shadow--2dp">
      <button class="mdl-button mdl-js-button" (click)="goBack()"><i class="material-icons">arrow_back</i>Back</button>
      <button class="mdl-button mdl-js-button" (click)="contactActionClick(user.Id)">{{isFriend ? 'Delete' : 'Add'}}</button>
    </div>

    <div class="data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
      <div class="mdl-cell mdl-cell--3-col">
        <div *ngIf="user.Avatar">
          <img src="{{user.Avatar | avatarPipe}}" class="user-avatar-img">   
        </div>
        <div *ngIf="!user.Avatar">
          <i class="material-icons mdl-list__item user-avatar-img user-avatar-mIcon">person</i>
        </div>
      </div>
      <div class="user-details-main-info mdl-cell mdl-cell--9-col">
        <div>
          <h3>{{user.FirstName}} {{user.LastName}}</h3>
          <div class="mdl-layout-spacer"><i>{{user.Status}}</i></div>
          <div class="user-details-state">
            <div [innerHtml]="user.State | stateIconPipe"></div>
            <span>{{user.State | stateStringPipe}}</span>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised"> Send Message</button>
        </div>
      </div>
    </div>
    <div class="user-details-main data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
      <div class="user-details-group mdl-card__actions mdl-card--border">
        <!-- <h5> Info</h5> -->
        <div>
          <h5>Address:</h5>
          <span>{{user.City ? user.City : 'Unknown'}}, {{user.Country ? user.Country : 'Unknown'}}</span>
        </div>
        <div>
          <h5>Birthday:</h5>
          <span>{{user.BirthDate | date:'shortDate'}}</span>
        </div>
        <div>
          <h5>Gender:</h5>
          <span>{{user.Gender | genderPipe}}</span>
        </div>
      </div>
    </div>
    <div [hidden] = "!isFriend" class="user-details-main data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
      <div class="user-details-group mdl-card__actions mdl-card--border">
        <!-- <h5>Settings</h5> -->
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-notifications">
          <input type="checkbox" id="switch-notifications" class="mdl-switch__input" checked>
          <span class="mdl-switch__label">Notifications</span>
        </label>
      </div>
      <div class="user-details-group mdl-card__actions mdl-card--border">
        <!-- <h5>Actions</h5> -->
        <button class="mdl-button mdl-js-button mdl-button--raised"> Clear History</button>
        <button class="mdl-button mdl-js-button mdl-button--raised"> Delete Conversation</button>
        <button class="mdl-button mdl-js-button mdl-button--raised"> Block User</button>
      </div>
    </div>
  </div>
</div>