@import '../../../vars.scss';

.data-container{
   width: 100%;
}

.user-avatar-img{
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 75px;
}

.user-avatar-mIcon{
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #757575;
    font-size: 120px;
    color: #fff;
}

.user-details-header{
    height: 50px;
    padding: 0 8px;
    justify-content:space-between;
}

.user-details-main{
    flex-direction: column;
}

.user-details-group{
    padding-left: 20px;
}

.user-details-group .mdl-button{
    display: block;
    margin: 10px 0;
}
.user-details-group h6{
    margin: 0;
}

.user-details-group h5{
    margin: 8px 0;
}

.user-details-main-info{
    display: flex;
    align-items:center;
}

.user-details-main-info h3{
    margin: 0;
}

.user-details-online-indecator{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $color-online-indecator;
}
.user-details-state{
    display: flex;
    align-items:center;
    padding: 10px 0;
}

:host ::ng-deep .online-state {
 color: $color-online-indecator;
}

:host ::ng-deep .busy-state{
 color: $color-offline-indecator;
}

.test{
    font-size: 100px;
}

.loading-container{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    color:#757575;
}

.error-icon{
    font-size: 2em;
    color:#ef5350;
}

.date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.date-item {
    width: 50px;
    padding: 5px 10px 5px 10px;
    margin: 0px;
}

