<div class="mdl-layout__header-row">
  <button class="mdl-button mdl-js-button"><i class="material-icons">arrow_back</i>Back</button>
  <button class="mdl-button mdl-js-button">Delete</button>
</div>
<div class="data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
  <div class="mdl-cell mdl-cell--4-col">
     <img src="assets/img/man.png" class="user-avatar">
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <span class="mdl-layout__title">Jon Snow</span>
    <div class="mdl-layout-spacer">Winter is coing!</div>
    <div>Online</div>
    <button class="mdl-button mdl-js-button mdl-button--raised"> Send Message</button>
  </div>
</div>

<div class="data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
  <div>
    <div>City Country</div>
    <div>BirthDate</div>
    <div>Gender</div>
  </div>
  <div>
    Settings
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
    <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
    <span class="mdl-switch__label"></span>
</label>
  </div>
  <div>
    Actions
    <button class="mdl-button mdl-js-button mdl-button--raised"> Clear History</button>
    <button class="mdl-button mdl-js-button mdl-button--raised"> Delete Conversation</button>
    <button class="mdl-button mdl-js-button mdl-button--raised"> Block User</button>
  </div>
</div>