@import '../../../vars.scss';

.jg-buttons-bottom-cantainer{
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
    padding: 0;
}

.jg-button-bottom{
    margin: 10px 10px 10px 0px;
}

.jg-full-width-container{
    width: 100%;
}

.jg-container{
    max-width: calc(100% - #{$card-padding} - #{$card-padding});
    width: 100%;
    position: absolute;
    min-height: calc(100% - 2 * #{$card-padding});
    margin: 0;
}

.jg-card{
    padding: $card-padding;
    max-width: calc(74% - 2 * #{$card-padding});
    width: 100%;
    position: absolute;
    min-height: calc(100% - 2 * #{$card-padding});
    margin-left: 26%;
}
@media (max-width: 1024px){
    .jg-card{
        margin: 0  26%;
        right: -13%;
    }

}

.jg-header-container{
    width:  100%;
    display: flex;
    h3 {
        margin: 0;
    }
    > div{
        padding: 8px;    
    }
}

.jc-user-details-container{
    padding: 8px;
    margin: 10px;
}

.jc-user-actions-container{
    margin: 10px;
}

.jc-back-btn{
    left: 0;
    position: absolute;
    margin: 10px;
}

.jc-user-avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 16px;
}

.ud-main-info-container{
    margin-top: auto;
    margin-bottom: auto;
}
// .content-holder{
//     height: 100%;
//     width:100%;
//     margin-left: 400px;
// }


