/* You can add global styles to this file, and also import other style files */

// colors

@import 'vars.scss';

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #f5f5f5;
  overflow:hidden;
}

.work-space-container{
    padding:5px;
}
.mdl-textfield__input{
    border-color:$color-text-secondary;
    width: 100%;
}

.mdl-textfield__label{
    color:$color-text-secondary;
}

.mdl-textfield{
    width: 100%;
}

.mdl-textfield__label:after{
    background-color: $color-after-elements;
}
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
*::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);
	background-color: $color-primary;;
}


.user-state-container{
    display: flex;
    align-items:center;
    padding: 10px 0;
}
.online-state {
 color: $color-online-indicator;
}

.busy-state{
 color: $color-busy-indicator;
}

.inacceptable-state{
 color: $color-inacceptable-indicator;
}

.offline-state{
    color: $color-offline-indicator;
}
// style for inputs on menu tabs
.list__item{
	display:flex !important;
	align-items:center;
	.mdl-list__item-text-body{
		height: auto !important;
	}
	.mdl-list__item-avatar{
		margin-right: 0 !important;
	}
}
.mdl-list__item:hover .user-state-wrap .user-state i{
	border-color:$color-primary-dark;
}
.user-state-wrap{
		position: relative;
		margin-right: 16px;
		.user-state{
			position:absolute;
			right: -1px;
			bottom: -1px;
			i {
				border: 2px solid #005A8A;
			    width: 14px;
			    height: 14px;
			    border-radius: 50%;
			    box-sizing: border-box;
			}
			.online-state {
				background-color: $color-online-indicator;
			}

			.busy-state{
				background-color: $color-busy-indicator;
			}

			.inacceptable-state{
				background-color: $color-inacceptable-indicator;
			}

			.offline-state{
			    background-color: $color-offline-indicator;
			}
		}
	}
.text-input-container{
    padding:0 16px;
}

.menu-input{
	width: 100% !important;
}

.menu-input.mdl-textfield .mdl-textfield__input{
	border-color: rgba(250, 250, 250, 0.5) !important; 
}

.menu-input.mdl-textfield .mdl-textfield__label{
	color:  rgba(250, 250, 250, 0.5) !important; 
}

.menu-input.mdl-textfield.is-focused .mdl-textfield__label,
.menu-input.mdl-textfield.is-dirty .mdl-textfield__label{
	color: white !important; 
}

// .mdl-textfield__label:after {
//     background: white !important;
// }

//style for emoji filters
.dropdown-menu.textcomplete-dropdown[data-strategy=emojionearea]{
    margin-top:-15px !important;
}

#toast-container {
    >div {
        box-shadow: 0 0 3px #999 !important;
    }
}

#toast-container {
    >div:hover {
        box-shadow: 0 0 6px #999 !important;
	}
}

.button__log.mdl-button--accent.mdl-button--accent.mdl-button--raised{
	background-color:rgb(25, 118, 210);
}

.button__log.mdl-button--accent.mdl-button--accent.mdl-button--raised[disabled]{
	background-color: rgba(0,0,0,.12);
}