/* You can add global styles to this file, and also import other style files */

// colors

$primary:#281b47;
$primary-light:#312951;
$online-indecator:#54d253;
$text-secondary:#9698ab;
$text-primary:#e8e8ed;


html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}