$color-primary:#281b47;
$color-primary-light:#312951;
$color-primary-dark:#221941;
$color-online-indicator:#54d253;
$color-busy-indicator: #000000;
$color-inacceptable-indicator:#F44336;
$color-offline-indicator:#e8e8ed;
$color-text-secondary:#9698ab;
$color-text-primary:#e8e8ed;
$color-after-elements:rgba(54,177,254,70);
$card-padding: 15px;
$left-panel-width: 400px;
$online-indicator-size: 1px;
$avatar-size: 64px;
