$color-primary:#281b47;
$color-primary-light:#312951;
$color-primary-dark:#221941;
$color-online-indecator:#54d253;
$color-offline-indecator:#F44336;
$color-text-secondary:#9698ab;
$color-text-primary:#e8e8ed;
$color-after-elements:rgba(54,177,254,70);
$card-padding: 15px;
$left-panel-width: 400px;
