<style>
  
</style>
<div class="mdl-tabs__panel" id="sign-up">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="sign-in-email" [(ngModel)]="email">
          <label class="mdl-textfield__label" for="sign-up-email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="sign-in-password" [(ngModel)]="password">
          <label class="mdl-textfield__label" for="sign-up-password">Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="sign-in-confirm">
          <label class="mdl-textfield__label" for="sign-up-confirm">Confirm Password</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="registrate()" id="button">
        Register
        </button>
    </div>