<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="left-panel mdl-layout__drawer mdl-color-text--blue-grey-50">
    <header class="left-panel-header">
      <div class="avatar-container">
        <img src="assets/img/man.png" class="main-avatar">
        <div class="online-indecator"></div>
      </div>
      <div class="left-panel-user-info">
        <div class="header-user-name">Jon Snow</div>
        <div>Winter is coming</div>
      </div>
    </header>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#message-panel" class="mdl-tabs__tab is-active"><i class="material-icons">message</i></a>
      <a href="#peaople-panel" class="mdl-tabs__tab"><i class="material-icons">people</i></a>
      <a href="#search-panel" class="mdl-tabs__tab"><i class="material-icons">search</i></a>
      <a href="#add-panel" class="mdl-tabs__tab"><i class="material-icons">add_circle</i></a>
      <a href="#settings-panel" class="mdl-tabs__tab"><i class="material-icons">settings</i></a>
    </div>
    <div class="mdl-tabs__panel is-active" id="message-panel">
      <app-menu-messages></app-menu-messages>
    </div>
    <div class="mdl-tabs__panel" id="peaople-panel">
      <app-menu-users></app-menu-users>
    </div>
    <div class="mdl-tabs__panel" id="search-panel">
      <app-menu-search></app-menu-search>
    </div>
    <div class="mdl-tabs__panel" id="add-panel">
      <app-menu-add></app-menu-add>
    </div>
   <div class="mdl-tabs__panel" id="settings-panel">
    <app-menu-settings></app-menu-settings>
  </div>
</div>
<router-outlet></router-outlet>
 <div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="left-panel mdl-layout__drawer mdl-color-text--blue-grey-50">
    <header class="left-panel-header">
      <div class="avatar-container">
        <img src="assets/img/man.png" class="main-avatar">
        <div class="online-indecator"></div>
      </div>
      <div class="left-panel-user-info">
        <div class="header-user-name">Jon Snow</div>
        <div>Winter is coming</div>
      </div>
    </header>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#message-panel" class="mdl-tabs__tab is-active"><i class="material-icons">message</i></a>
      <a href="#peaople-panel" class="mdl-tabs__tab"><i class="material-icons">people</i></a>
      <a href="#search-panel" class="mdl-tabs__tab"><i class="material-icons">search</i></a>
      <a href="#add-panel" class="mdl-tabs__tab"><i class="material-icons">add_circle</i></a>
      <a href="#settings-panel" class="mdl-tabs__tab"><i class="material-icons">settings</i></a>
    </div>
    <div class="mdl-tabs__panel is-active" id="message-panel">
      <app-menu-messages></app-menu-messages>
    </div>
    <div class="mdl-tabs__panel is-active" id="peaople-panel">
      <app-menu-users></app-menu-users>
    </div>
    <div class="mdl-tabs__panel is-active" id="search-panel">
      <app-menu-search></app-menu-search>
    </div>
    <div class="mdl-tabs__panel is-active" id="add-panel">
      <app-menu-add></app-menu-add>
    </div>
   <div class="mdl-tabs__panel is-active" id="settings-panel">
    <app-menu-settings></app-menu-settings>
  </div>
</div>
<router-outlet></router-outlet>
