@import '../../../vars.scss';

.main-avatar {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}

.mdl-layout__container{
    position: absolute;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.left-panel {
  border: none;
  background-color: $color-primary;
}

.left-panel .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.left-panel-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
}

.left-panel-header a{
    text-decoration: none;
}

.link-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-layout .link-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: $color-text-secondary;
  font-weight: 500;
}

.mdl-list__item:hover{
  color:$color-primary-dark;
}

.link-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}
.mdl-layout__drawer{
    width: $left-panel-width;
}

.mdl-tabs__tab{
  color: $color-text-secondary;
  width: $left-panel-width/5;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
    color:$color-text-primary;
}

.online-indecator{
    width:12px;
    height: 12px;
    border-radius: 6px;
    background-color:$color-online-indecator;
    position: absolute;
    bottom: 2px;
    right: 2px;
    
}

.avatar-container{
    position: relative;
}

.header-user-name{
    font-size: 1.25em;
    color: $color-text-primary;
}

.left-panel-user-info{
    display: flex;
    flex-direction:column;
    align-content:center;
    margin:10px;
    color: $color-text-secondary;
    flex:1;
}

.main-content-container{
    margin-left: $left-panel-width;
    width: calc(100% -  400px); //  400px - $left-panel-width
    height: 100%
}
.status i.create-icon{
    visibility: hidden;
}
.status:hover i.create-icon{
    visibility: visible;
}

.status i{
    cursor: pointer;
    font-size: 15px;
    color: darkgray;
    vertical-align: middle;
    align-self:center;
    padding:0 3px;

}
.status i:hover{
    color: white;
}

a.setting-icon {
    margin-top: auto;
    margin-left: auto;
    padding: 0;
}
.status-message{
    font-size: 13px;
}
.setting-button{
  color:#9698ab;
  display: flex;
  align-self: center;
  padding:0;
  height:auto;
  width:auto
}
.setting-button:hover{
  color:white;
}
.status .mdl-textfield{
  padding:0;
  display:flex;
  width:100%;
}
.status .mdl-textfield .mdl-textfield__input{
  font-size:14px;
  border-color: #9698ab;
  outline:none;
}
.status .status-text {
  cursor:pointer;
  display:inline-block;
  vertical-align:middle;
  padding: 2px 0;
  border-bottom: 1px solid transparent;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
  display:none;
}
