@import '../../../vars.scss';
.user-status > img{
  height:1.2em;
  width:1.2em;
}
.main-avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  position: relative;
}
.mdl-layout__container{
    position: absolute;
}е

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.left-panel {
  border: none;
  background-color: $color-primary;
  max-width: 26%;
}

.left-panel .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.left-panel-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  align-items:center;
}

.left-panel-header a{
    text-decoration: none;
}

.link-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-layout .link-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: $color-text-secondary;
  font-weight: 500;
}

.mdl-list__item:hover{
  color:$color-primary-dark;
}

.link-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}
.mdl-layout__drawer{
    width: $left-panel-width;
}

.mdl-tabs__tab{
  color: $color-text-secondary;
  width: $left-panel-width/5;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
    color:$color-text-primary;
}

.online-indicator{
    width:12px;
    height: 12px;
    border-radius: 6px;
    background-color:$color-online-indicator;
    position: absolute;
    bottom: 2px;
    right: 2px;
    
}

.header-user-name{
    font-size: 1.25em;
    color: $color-text-primary;
}

.left-panel-user-info{
    display: flex;
    flex-direction:column;
    align-content:center;
    margin:10px;
    color: $color-text-secondary;
    flex:1;
}

.status i.create-icon{
    visibility: hidden;
}
.status:hover i.create-icon{
    visibility: visible;
}

.status i{
    flex:1;
    cursor: pointer;
    font-size: 15px;
    color: darkgray;
    vertical-align: middle;
    align-self:center;
    padding:0 3px;

}
.status i:hover{
    color: white;
}

a.setting-icon {
    margin-top: auto;
    margin-left: auto;
    padding: 0;
}
.status-message{
    font-size: 13px;
}
.setting-button{
  color:#9698ab;
  display: flex;
  align-self: center;
  padding:0;
  height:auto;
  width:auto
}
.setting-button:hover{
  color:white;
}
.status .mdl-textfield{
  padding:0;
  display:flex;
  width:100%;
  color: darkgray;
}
.status .mdl-textfield .mdl-textfield__input{
  font-size:14px;
  border-color: #9698ab;
  outline:none;
  margin-right:3px;
}
.status .status-text {
  cursor:pointer;
  display:flex;
  vertical-align:middle;
  padding: 2px 0;
  border-bottom: 1px solid transparent;
  width:100%;
  color: darkgray;
}
.status .status-text span{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:150px;
  white-space: nowrap;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
  display:none;
}
.wrap-state {
  position:absolute;
  right:-2px;
  bottom:-2px;
  width:18px;
  height:18px;
  border-radius:50%;
  z-index: 5;
  & .change-state{
    display:none;
    border:1px solid $color-primary;
    height:100%;
    width:100%;
    box-sizing:border-box;
    border-radius: 50%;
    color:white;
    background-color: $color-primary;
    margin-bottom:5px;
    cursor:pointer;
    i{
      border:1px solid white;
      height:100%;
      width:100%;
      display:block;
      font-size:14px;
      box-sizing:border-box;
      border-radius: 50%;
    }
  }
  &:hover ::ng-deep .user-state{
    display:none;
  }
   &:hover .change-state{ 
    display:block;
   }
}
.wrap-state ::ng-deep .user-state{
  border:2px solid $color-primary;
  height:100%;
  width:100%;
  box-sizing:border-box;
  display:inline-block;
  border-radius: 50%;
  &.online-state {
     background-color: $color-online-indicator;
  }

  &.busy-state{
   background-color: $color-busy-indicator;
  }
  &.offline-state{
    background-color: $color-offline-indicator;
  }
  &.inacceptable-state{
    background-color: $color-inacceptable-indicator;
  }
}
.user-avatar{
  position:relative;
}
.state-list{
  position:absolute;
  display:none;
  background-color:white;
  margin: 0;
  z-index: 3;
  left: calc(100% - 20px);
  padding:0;
  top: calc(100% + 5px);
  li{
    padding: 4px 16px;
    list-style-type: none;
    display:flex;
    align-items: center;
    color:rgba(0, 0, 0, 0.87);
    cursor:pointer;
    position:relative;
    transition:all .2s;
    &:hover{
      background-color:rgba($color-primary-dark, 0.9);
      transition:all .2s;
      color:white;
    }
    &.active{
      cursor:context-menu;
      color:white;
      transition:all .2s;
      background-color:$color-primary;
    }
    i{
      width:10px;
      height:10px;
      display:inline-block;
      margin-right:8px;
      border-radius:50%;
      &.online-state {
        background-color: $color-online-indicator;
      }
      &.busy-state{
        background-color: $color-busy-indicator;
      }
      &.offline-state{
        background-color: $color-offline-indicator;
      }
      &.inacceptable-state{
        background-color: $color-inacceptable-indicator;
      }
    }
  }
}