@import '../../../vars.scss';

.dialog-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title-text {
    align-self: center;
    margin-left: 10px;
}

.main {
    width: 100%;
    > ul{
        padding: 0;
    }
}

.jc-group-edit-title-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}
.groups-list-container {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    > div{
        flex-direction: column;
        display: flex;
    }
}
.jc-list-user {
    height: 300px;

    li:hover {
        background-color: #F5F5F5;
        margin-left: 1px;
    }
}

.jc-list-added {
    overflow :auto;
    margin-top: 82px;
}

.jg-buttons-bottom-cantainer {
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
}
.jg-button-bottom {
    margin-left: 16px;
}

.jg-full-width-container {
    width: 100%;
}

.jg-container{
    width: calc(100% - 10px);
    height: calc(100vh - 10px);
    margin: 5px auto;
}

.message-container {
    font-size: 0.8em;
    display: flex;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message-header {
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
    > div{
      &:nth-last-child(1) {
          padding-left: 7px;
      } 
    } 
}

.message-text {
    padding: 5px;
    background-color: #BBDEFB;
    font-size: 1.2em;
    border-radius: 5px;
    display: -webkit-inline-box;
    min-height: 25px;
}

.main-message-content {
  margin-left: 10px;
}

.self-message {
  justify-content: flex-end;
  
  .message-text{
      float: right;
  }
}

.message-input-container {
  position: absolute;
  bottom: 0;
}

.send-message-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    > div{
        width: 80%;
    }
}

.send-button{
    align-self: center;
    margin-left: 14px;
}


