@import '../../../vars.scss';

.dialog-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title-text {
    align-self: center;
    margin-left: 10px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    > ul{
        padding: 0;
    }
}

.jc-group-edit-title-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}
.groups-list-container {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    > div{
        flex-direction: column;
        display: flex;
    }
}
.jc-list-user {
    height: 300px;

    li:hover {
        background-color: #F5F5F5;
        margin-left: 1px;
    }
}

.jc-list-added {
    overflow :auto;
    margin-top: 82px;
}

.jg-buttons-bottom-cantainer {
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
}
.jg-button-bottom {
    margin-left: 16px;
}

.jg-full-width-container {
    width: 100%;
}

.jg-container{
    width: 74%;
    height: 100vh;
    margin: 0 26%;
    
    > div{
        &:nth-last-child(2){
            flex: 1;
        }
    }
}

.message-container {
    max-width: 50%;
    font-size: 0.8em;
    display: flex;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message-header {
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
    > div{
      &:nth-last-child(1) {
          padding-left: 7px;
      } 
    } 
}

.message-text {
    padding: 5px 10px 5px 10px;
    font-size: 1.2em;
}

.main-message-content-container {
  margin-left: 10px;
}

.message-item{
    height: auto;
}

.message-content{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #BBDEFB;
    display: -webkit-inline-box;

    img{
        margin: 10px;
        max-height: 200px;
        max-width:  200px;
    }
}

.self-message {
  justify-content: flex-end;
  
 .main-message-content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.message-input-container {
    margin-top: auto;
}


.messages-content {
    max-height: 800px;
    overflow: auto;
}



input[type="file"] {
    display: none;
}


.custom-file-attach {
    cursor: pointer;

    .material-icons {
        padding: 10px;
    }
}

.custom-file-attach:hover{
    color: #FF5722;
}

.custom-file-attach::selection{
    background-color: none;
}
.send-message-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    > div{
        width: 80%;
    }
}

.send-button{
    align-self: center;
    margin-left: 14px;
    >i {
        transform-origin: center center;
        // transform:  rotate(-10deg);
    }
}

.message-attached-image {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.material-icons.green {
    color: rgb(46,204,113);
}

.modal-container{
    display: flex;
    align-items: center;
    margin:0;
}

.wrapper-modal{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    margin:0;
    z-index: 10;
    align-items: center;
    display:none;
  }

  .wrapper-modal.show{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
  }

  .modal{
    position: relative;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    padding: 2em;
    background-color:white;
    z-index:11;
  }

  #modal-img{
      max-height: 400px;
      max-width: 400px;
  }

  .modal-close-button{
    position: absolute;
    right: 0;
    margin: 2px;
    top: 0;
    cursor: pointer;
  }

  .modal-close-button:hover{
      color: #FF5722;
  }


  .image-tooltip {
    position: absolute;
    transform:translateY(2em);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    height: 2em;
    transition: all .3s;
    display:flex;
    justify-content:center;
    align-items:center;
    color:transparent;
  }
  
  .modal:hover .image-tooltip  {
    background-color: rgba(0,0,0,0.5);
    transition: all .3s;
    color:white;
    transform:translateY(0%);
  }

  .attached-file{
    margin: 4px;
    text-decoration: none;
    color:#B0BEC5;
   
    i{
        font-size: 4em;
    }  
  }

  .attached-file:hover{
    color:#9E9E9E;
  }

  .attched-in-self-msg{
    float: right;
  }

  .att-file-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      
      >div{
          font-size: 1.5em;
          text-transform: uppercase;
      }
    }
  