@import '../../../vars.scss';

.dialog-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title-text {
    align-self: center;
    margin-left: 10px;
}
div .mdl-list__item:hover{
  background-color:transparent;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    > ul{
        padding: 0;
    }
}

.jc-group-edit-title-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    padding-right:0;
}
.groups-list-container {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    > div{
        flex-direction: column;
        display: flex;
    }
}
.jc-list-user {
    height: 300px;
    li:hover {
        background-color: #F5F5F5;
        margin-left: 1px;
    }
}

.jc-list-added {
    overflow :auto;
    margin-top: 82px;
}

.jg-buttons-bottom-cantainer {
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
}
.jg-button-bottom {
    margin-left: 16px;
}

.jg-full-width-container {
    width: 100%;
}

.message-list .jg-container{
    width:100%;
    height: calc(100vh - 10px);
    > div{
        &:nth-last-child(2){
            flex: 1;
        }
    }
}

.message-container {
    max-width: 50%;
    font-size: 0.8em;
    display: flex;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message-header {
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
    > div{
      &:nth-last-child(1) {
          padding-left: 7px;
      } 
    } 
}

.message-text {
    padding: 5px 10px 5px 10px;
    font-size: 1.2em;
}

.message-text .emojioneemoji{
    height:1.2em;
    width:1.2em;
    margin:0;
}

.main-message-content-container {
  margin-left: 10px;
}

.message-item{
    height: auto;
}

.message-content{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #BBDEFB;
    display: -webkit-inline-box;

    img{
        margin: 10px;
        max-height: 200px;
        max-width:  200px;
    }
}

.self-message {
  justify-content: flex-end;
  
 .main-message-content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.message-input-container {
    margin-top: auto;
}

.messages-content {
    max-height: 800px;
    overflow: auto;
}



input[type="file"] {
    display: none;
}


.custom-file-attach {
    cursor: pointer;

    .material-icons {
        padding: 10px;
    }
}

.custom-file-attach:hover{
    color: #FF5722;
}

.custom-file-attach::selection{
    background-color: none;
}
.send-message-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    > div{
        width: 80%;
    }
}

.send-button{
    align-self: center;
    margin-left: 14px;
    >i {
        transform-origin: center center;
        // transform:  rotate(-10deg);
    }
}

.message-attached-image {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.material-icons.green {
    color: rgb(46,204,113);
}

.modal-container{
    display: flex;
    align-items: center;
    margin:0;
}

.wrapper-modal{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    margin:0;
    z-index: 10;
    align-items: center;
    display:none;
  }

  .wrapper-modal.show{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
  }

  .modal{
    position: relative;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    padding: 2em;
    background-color:white;
    z-index:11;
  }

  #modal-img{
      max-height: 400px;
      max-width: 400px;
  }

  .modal-close-button{
    position: absolute;
    right: 0;
    margin: 2px;
    top: 0;
    cursor: pointer;
  }

  .modal-close-button:hover{
      color: #FF5722;
  }


  .image-tooltip {
    position: absolute;
    transform:translateY(2em);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    height: 2em;
    transition: all .3s;
    display:flex;
    justify-content:center;
    align-items:center;
    color:transparent;
  }
  
  .modal:hover .image-tooltip  {
    background-color: rgba(0,0,0,0.5);
    transition: all .3s;
    color:white;
    transform:translateY(0%);
  }

  .attached-file{
    margin: 4px;
    text-decoration: none;
    color:#B0BEC5;
   
    i{
        font-size: 4em;
    }  
  }

  .attached-file:hover{
    color:#9E9E9E;
  }

  .attched-in-self-msg{
    float: right;
  }

  .att-file-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      
      >div{
          font-size: 1.5em;
          text-transform: uppercase;
      }
    }
.mdl-list__item-avatar{
  align-self: start;
}
.group-members{
  margin-left: 10px;
  padding:0;
  h3{
    padding-left:20px;
    position:relative;
    margin-top:5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    color:#9698ab;
    margin: 0;
    line-height: 1;
  }
}

//Accordion style
.transition, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}
.accordion.group-members ul{
  margin: 5px 0;
  li{
    margin: 10px;
    border-radius:20px;
    background-color:rgba(150, 152, 171, 0.2);;
    padding:0 10px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordion.group-members h3 i {
  position:absolute;
  margin-top:11px;
  left: 10px;
  transition:all .3s;
  transform:rotate(180deg);
  display:inline-block;
}
 .accordion.group-members h3 i:before,  .accordion.group-members h3 i:after {
  content: "";
  position: absolute;
  background-color: #9698ab;
  width: 2px;
  border-radius:2px;
  height: 8px;
}
.accordion.group-members h3 i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordion.group-members h3 i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
 .accordion.group-members input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 105px;
  height: 14px;
  z-index: 1;
  opacity: 0;
}
.accordion.group-members .members-toggle{
  display:none;
}
 .accordion.group-members  ul {
  margin:0;
  margin-top:5px;
  transition:all 0.3s;
  display: flex;
  margin-left:-10px;
  flex-wrap:wrap;
}
.accordion.group-members h3{
  cursor:pointer;
}
.accordion.group-members h3.open i {
  transition:all .3s;
  transform:rotate(90deg);
  margin-top: 5px;
}
.user-state{
  height:10px;
  width:10px;
  display:inline-block;
  background-color: #54d253;
  border-radius: 10px;
  margin-right: 2px;
}