<div class="jg-container mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-shadow--2dp dialog-title">
      <img src="{{dialogImage | avatarPipe}}" class="material-icons mdl-list__item-avatar">
      <h2 class="mdl-card__title-text title-text">{{dialogName}}</h2>
  </div>
  <div class="mdl-card__title jc-group-edit-title-container">
    <div class="main"> 
      <ul #scroll class="mdl-list scrollable messages-content" (scroll)="onScroll()" [scrollTop]="scroll.scrollTop">
        <div *ngFor="let message of messages">
            <li class="mdl-list__item mdl-list__item--three-line message-item" [class.self-message]="!messageService.isOwnMessage(message, receiverId)">
                <div class="message-container">
                  <div *ngIf="messageService.isOwnMessage(message, receiverId)">
                      <img src="{{null | avatarPipe}}" class="material-icons mdl-list__item-avatar">
                  </div>
                  <div class="main-message-content-container">
                    <div class="message-header">
                      <div>
                          {{messageService.isOwnMessage(message, receiverId) ? dialogName + ', ': ''}}
                      </div>
                      <div>
                          {{message.CreatedAt | date:'HH:mm:ss'}}
                      </div>   
                    </div>
                    <div class="message-content">
                        <div class="message-text" *ngIf="message.Text">
                          {{message.Text}}
                        </div>
                        <div *ngIf="message.AttachedFile" (click)="onShowModal(message.AttachedFile)">
                          <img src="{{message.AttachedFile | attachedImagePipe}}">
                        </div>
                    </div>
                  </div>
                </div>
            </li>
        </div> 
      </ul>    
    </div>
  </div>
 <div class ="mdl-card__actions mdl-card--border message-input-container send-message-container">     
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="messageText" (keyup.enter)="send(messageText)" [(ngModel)]="messageText">
        <label class="mdl-textfield__label" for="messageText">Message text...</label>
      </div>

      <label for="file-upload" *ngIf="!attachedImage" class="custom-image-attach" title="Click to attach an image">
        <i class="material-icons">photo</i>
      </label>
      <label for="file-upload" *ngIf="attachedImage" class="custom-image-attach" title="File attached">
        <i class="material-icons green">photo</i>
      </label>
      <input id="file-upload" type="file" accept="image/jpeg,image/png,image/gif" (click)="AttachImage($event)" name="file"/>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect send-button" (click)="send(messageText)">
        <i class="material-icons">send</i>
      </button>
    </div>
</div>

<div class="modal-container">
  <div class="wrapper-modal">
    <div class="modal">
      <i class="material-icons modal-close-button" (click)="onCloseModal()">close</i>
      <div class="">
        <a target="_blank" href="" id="modal-ref">
          <img src="" id="modal-img" title="Click to open in a new tab"/>
        </a>
      </div>
  </div>
</div>