@import '../../../vars.scss';

.mdl-list__item-primary-content{
 color: $color-text-primary;
}
.mdl-list__item-text-body{
  max-width: 300px;
  color: $color-text-secondary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdl-list__item:hover{
    background-color:$color-primary-dark;
}
.new_releases,
.not_interested{
	cursor: pointer;
}

.material-icons.light {
    color: #ecf0f1;
}