<form class="menu-user-form">
  <div class="text-input-container">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label menu-input">
      <input class="mdl-textfield__input" type="text" id="search-users" autocomplete="off" name="search"  [(ngModel)]="searchString" (keyup)="search()">
      <label class="mdl-textfield__label" for="search-users">Search...</label>
    </div>
  </div>
    <ul class="accordion">
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <h2>Sent Invitation</h2>
            <ul class="demo-list-three mdl-list m4-16">
                <div *ngFor="let user of searchContact">
                    <li class="mdl-list__item mdl-list__item--three-line p8" *ngIf="isSentContact(user.Id)" (click)="goToUserDetail(user.Id)">
                        <span class="mdl-list__item-primary-content list__item">
                            <div class="user-state-wrap">
                              <img src="{{user.Avatar | avatarPipe:false}}" class="material-icons mdl-list__item-avatar">
                              <div class="user-state" [innerHTML]="user.UserState | userState"></div>
                            </div>
                            <div>
                              <span>{{user.Name}}</span>
                              <span class="mdl-list__item-text-body">
                                  {{user.City}}
                              </span>
                            </div>
                        </span>
                        <a class="mdl-list__item-secondary-action add-contact" ><i class="material-icons light">{{ContactStatus(user.Id)}}</i></a>
                    </li>
                </div>
            </ul>
        </li>
        <li>
            <input type="checkbox">
            <i class="arrow"></i>
            <h2>Contacts</h2>
            <ul class="demo-list-three mdl-list m4-16">
                <div *ngFor="let user of searchContact">
                    <li class="mdl-list__item mdl-list__item--three-line p8" *ngIf="isAcceptContact(user.Id)" (click)="navigateToMessages(user.Id)">
                        <span class="mdl-list__item-primary-content list__item">
                           <div class="user-state-wrap">
                              <img src="{{user.Avatar | avatarPipe:false}}" class="material-icons mdl-list__item-avatar">
                              <div class="user-state" [innerHTML]="user.UserState | userState"></div>
                            </div>
                            <div>
                              <span>{{user.Name}}</span>
                              <span class="mdl-list__item-text-body">
                                  {{user.City}}
                              </span>
                            </div>
                        </span>
                    </li>
                </div>
            </ul>
        </li>
    </ul>
</form>
