@import '../../../vars.scss';

.jg-buttons-bottom-cantainer{
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
    padding: 0;
}
.jg-button-bottom{
    margin: 10px 10px 10px 0px;
}

.jg-full-width-container{
    width: 100%;
}

.jg-half-width-container{
    width: 50%;
}

.jg-container{
    width: calc(100% - 10px);
    //min-height: calc(100vh - 10px);
    margin: 0px;
}

.jg-header-container{
    width:  100%;
    display: flex;
    flex-wrap: wrap;
    h3 {
        margin: 0;
    }
    > div{
        margin: 8px;    
    }
}

// avatar styles

input[type="file"] {
    display: none;
}

.avatar-upload-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    position:relative;
    border-radius:50%;
    height: 100%;
    width: 100%;
}
.wrapper-avatar{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:100%;
  border-radius:50%;
}
.avatar-upload-image {
  width:100%;
  height:100%;
  border-radius: 50%;
}

.avatar-upload-overlay {
  position: absolute;
  transform:translateY(50%);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 50%;
  transition: all .3s;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:36px;
  color:transparent;
}

.avatar-upload-container:hover .avatar-upload-overlay {
  background-color: rgba(0,0,0,0.5);
  transition: all .3s;
  color:white;
  transform:translateY(0%);
}

.avatar-upload-overlay-text {
  white-space: nowrap; 
  color: black;
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

// end of avatar styles

.user-status-text {
    font-size: 14px;
    font-style: italic;
}


.jg-radiobutton-item {
    margin: 6px 12px 6px 0px;
    display: inline-block;
}

.padding-right-20 {
    padding-right: 20px;
}

.password-notification{
    h5 {
        margin-bottom: 4px;
    }
    p {
        margin: 0;    
    }
}
.mdl-textfield{
    max-width: 48%;
}