<div class="loading-container" *ngIf="isError">
  <div><i class="material-icons error-icon">error_outline</i></div>
  <div>An error occured, please try again later</div>
</div>

<div class="loading-container" *ngIf="!isLoadFinished">
  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active test"></div>
  <div>Please wait, data is loading...</div>
</div>

<div [hidden]="!isLoadFinished">
      <div class="data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
        <div class="mdl-cell mdl-cell--3-col">
          <!-- <img src="{{user.Avatar | avatarPipe}}" class="user-avatar"> -->
          <label for="file-upload" class="custom-file-upload"><img src="{{user.Avatar | avatarPipe}}" class="user-avatar"></label>
          <input id="file-upload" type="file" (change)="SendAvatar($event)" name="file" accept="image/jpeg,image/png,image/gif"/>
        </div>

          <div class="user-editing-main-info mdl-cell mdl-cell--9-col">
            <div>

              <div class="name">
              <h3>{{user.FirstName}} {{user.LastName}}</h3>
              <!-- <div class="mdl-layout-spacer"><i>{{user.Status}}</i></div> -->
              </div>
            
              <div class="mdl-layout-spacer">
                <input class="mdl-textfield__input " type="text"  [(ngModel)]="user.Status" id="userStatus" />
              </div>
              
              <div class="user-details-state">
                <div [innerHtml]="user.State | stateIconPipe"></div>
                <span>{{user.State | stateStringPipe}}</span>
              </div> 
               <!-- <div class="user-editing-state">
                <i class="material-icons">check_circle</i>
                <span>Online</span>
              </div>  -->
               <div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="passwordDiv = !passwordDiv"> Change password</button>                  
              </div>
              <!-- <div>
                <label for="file-upload" class="custom-file-upload">Set profile photo</label>
                <input id="file-upload" type="file" (change)="SendAvatar($event)" name="file" accept="image/jpeg,image/png,image/gif"/>
              </div>   -->
             
            </div>
          </div>
        
        <div class="user-editing-main data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
          <div [hidden]="!passwordDiv">
            <div class="user-editing-group mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
               <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>Please remember that password lenght should be longer then five  characters, at least one letter and one number.</h5>
                </div>
              </div>
                <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>Old password:</h5>
                  <input class="mdl-textfield__input" type="password"  [(ngModel)]="passwordOld" id="userOldPassword" />
                  <label class="mdl-textfield__label" for="userOldPassword"></label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>New password:</h5>
                  <input class="mdl-textfield__input" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" [(ngModel)]="passwordFirst" id="userNewPassword" />
                  <label class="mdl-textfield__label" for="userNewPassword"></label>
                  <span class="mdl-textfield__error">This is incorrect one!</span> 
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>Confirm new password:</h5>
                  <input class="mdl-textfield__input" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" [(ngModel)]="passwordSecond" id="userNewPassword" />
                  <label class="mdl-textfield__label" for="userNewPassword"></label>
                  <span class="mdl-textfield__error">This is incorrect one!</span>             
                </div>
              </div>
            </div>

            <div class="loading-container" [hidden]="!errorPasswordDiv">
              <div><i class="material-icons error-icon">error_outline</i></div>
              <div>Error: {{errorPasswordDivMessage}}</div>
            </div>

          <div class="user-editing-button-container">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="ChangePassword()"> Change</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="CancelPassword()">Cancel</button>  
            </div>
          </div>
          </div>

          <div class="user-editing-group mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>First name:</h5>
                  <input class="mdl-textfield__input" type="text"  [(ngModel)]="user.FirstName" id="userFirstName" />
                  <label class="mdl-textfield__label" for="userFirstName"></label>
                </div>
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>Last name:</h5>
                  <input class="mdl-textfield__input" type="text"  [(ngModel)]="user.LastName" id="userLastName" />
                  <label class="mdl-textfield__label" for="userLastName"></label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>City:</h5>
                  <input class="mdl-textfield__input" type="text"  [(ngModel)]="user.City" id="userCity" />
                  <label class="mdl-textfield__label" for="userCity"></label>
                </div>
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>Country:</h5>
                  <input class="mdl-textfield__input" type="text"  [(ngModel)]="user.Country" id="userCountry" />
                  <label class="mdl-textfield__label" for="userCountry"></label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>Birthday:</h5>
                  <div class="date-container">              
                    <div class="date-item">
                      Day:
                      <input class="mdl-textfield__input" type="text"  [(ngModel)]="inputDay" pattern="^([1-9]|[12][0-9]|3[01])$" id="inputDay" />
                      <label class="mdl-textfield__label" for="inputDay"></label>
                    </div>
                    <div class="date-item">
                      Month:
                      <input class="mdl-textfield__input" type="text"  [(ngModel)]="inputMonth" pattern="^([1-9]|1[0-2])$" id="inputMonth" />
                      <label class="mdl-textfield__label" for="inputMonth"></label>
                    </div>
                    <div class="date-item">
                      Year:
                      <input class="mdl-textfield__input" type="text"  [(ngModel)]="inputYear" pattern="^(19[5-9]\d|20[0-4]\d|2017)$" id="inputYear" />
                      <label class="mdl-textfield__label" for="inputYear"></label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield autowide padding-vertical-10">
                  <h5>Gender:</h5>
                  <div class="padding-vertical-10">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="userGenderMale">
                      <input type="radio" id="userGenderMale" class="mdl-radio__button" [(ngModel)]="user.Gender" name="Gender" [value]="0" [checked]="user.Gender==0">
                      <span class="mdl-radio__label">Male</span>
                    </label>
                  </div>
                <div class="padding-vertical-10">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="userGendeFemale">
                    <input type="radio" id="userGendeFemale" class="mdl-radio__button" [(ngModel)]="user.Gender" name="Gender" [value]="1" [checked]="user.Gender==1">
                    <span class="mdl-radio__label">Female</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="user-editing-group mdl-card__actions mdl-card--border">
            <div class="user-editing-button-container">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="SaveUser()"> Save</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="Cancel()">Cancel</button>  
            </div>
          </div>

        </div>
      </div>
</div>