@import '../../../vars.scss';

.mdl-list__item-primary-content{
 color: $color-text-primary;
}
.mdl-list__item--three-line .mdl-list__item-text-body {
  max-width: 300px;
  color: $color-text-secondary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mdl-list__item-text-body ::ng-deep .emojioneemoji{
  height:1.2em;
  width:1.2em;
}
.mdl-list__item:hover{
    background-color:$color-primary-dark;
}
.add-contact{
	color: rgb(0, 206, 55);
	margin-left: 5px;
}
.new-user{
	cursor:pointer;
}
.menu__search__not_found{
	text-align: center;
	padding: 0 15px;
	margin: 10px 0;
	font-size: 18px;
}
.wrapper__spiner {
	text-align:center;
}
.accordion, .accordion .mdl-list{
	padding: 0 8px;
}
.accordion{
  overflow:hidden;
}
.accordion input{
	margin:0;
}
.accordion .mdl-list__item{
	padding: 8px 0;
	height: auto;
}
.accordion .mdl-list__item--three-line .mdl-list__item-primary-content{
	height:40px;
}
.material-icons.light {
    color: #ecf0f1;
}
//Accordion style
.transition, ul li i.arrow:before, ul li i.arrow:after {
    transition: all 0.25s ease-in-out;
}

.flipIn {
    animation: flipdown 0.5s ease both;
}

.accordion ul {
    animation: flipdown 0.5s ease both;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    color: white;
    margin: 0;
    cursor: pointer;
    line-height: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.accordion > li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 12px;
}
.accordion li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.accordion li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.accordion  li:nth-of-type(3) {
  animation-delay: 1s;
}
.accordion li:last-of-type {
  padding-bottom: 0;
}
.accordion li i.arrow {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 8px;
  right: 4px;
}
.accordion li i.arrow:before, .accordion li i.arrow:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 3px;
  height: 9px;
}
.accordion li i.arrow:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordion  li i.arrow:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.accordion li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 22px;
  z-index: 1;
  opacity: 0;
}
.accordion li input[type=checkbox]~ ul {
	margin:4px -16px;
	transition:all 0.3s;
	display: block;
	height:auto;
	opacity: 1;
}
.accordion .messages li{
  padding:8px;
}
.accordion li input[type=checkbox]:checked ~ ul {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	height:0;
	display:none;
	transform: translate(0, 50%);
}
.accordion  li input[type=checkbox]:checked ~ i.arrow:before {
  transform: translate(2px, 0) rotate(45deg);
}
.accordion  li input[type=checkbox]:checked ~ i.arrow:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.menu-message-form {
  display: flex;
  flex-direction: column; 
  
  .menu-messages-container{
    flex: 1;
    overflow :auto;
  }
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #4FC3F7 !important;
}

.mdl-textfield__label:after {
    background: #4FC3F7 !important;
}
