<form class="menu-message-form">
  <div class="menu-messages-container">
    <div class="text-input-container">
      <div class="menu-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label menu-input">
        <input class="mdl-textfield__input" name="search" type="text" [(ngModel)]="searchString" (keyup)="search()" id="search-dialogs">
        <label class="mdl-textfield__label" for="search-dialogs">Search...</label>
      </div>
    </div>
    <ul class="accordion">
      <li *ngIf="contacts.length != 0">
          <input type="checkbox">
          <i class="arrow"></i>
          <h2>New Contacts</h2>
          <ul class="demo-list-three mdl-list">
              <div *ngFor="let user of contacts"  class="messages">
                  <li class="mdl-list__item mdl-list__item--three-line" (click)="goToConfirm(user.Id)">
                      <span class="mdl-list__item-primary-content list__item">
                          <div class="user-state-wrap">
                            <img src="{{user.Avatar | avatarPipe:false}}" class="material-icons mdl-list__item-avatar">
                            <div class="user-state" [innerHTML]="user.UserState | userState"></div>
                          </div>
                          <div>
                            <span>{{user.Name}}</span>
                            <span class="mdl-list__item-text-body">
                                {{user.City}}
                            </span>
                          </div>
                      </span>
                      <a class="mdl-list__item-secondary-action add_contact new_releases"><i class="material-icons light">new_releases</i></a>
                  </li>
              </div>
          </ul>
      </li>
      <li>
        <input type="checkbox">
        <i class="arrow"></i>
        <h2>Direct Messages</h2>
          <ul class="demo-list-three mdl-list">
              <div *ngFor="let dialog of filteredDialogs" class="messages">
                <li class="mdl-list__item mdl-list__item--three-line" 
                    *ngIf="!dialog.IsGroup" (click)="navigateToMessages(dialog)"
                    [ngClass]="{'selected': dialog.Id === currentDialogId && currentDialogIsGroup === dialog.IsGroup}">
                  <span  class="mdl-list__item-primary-content list__item">
                    <div class="user-state-wrap">
                      <img src="{{dialog.Avatar | avatarPipe:dialog.IsGroup}}" class="material-icons mdl-list__item-avatar">
                      <div class="user-state" [innerHTML]="dialog.UserState | userState"></div>
                    </div>
                    <div>
                      <span>{{dialog.Name}}</span>
                      <span class="mdl-list__item-text-body" [innerHTML]="dialog.LastMessage">
                      <!-- {{dialog.LastMessage}} -->
                      </span>
                    </div>
                  </span>
                </li>
              </div>
          </ul>
      </li>
    <li>
      <input type="checkbox">
      <i class="arrow"></i>
      <h2>Groups</h2>
        <ul class="demo-list-three mdl-list">
            <div *ngFor="let dialog of filteredDialogs" class="messages">
                <li class="mdl-list__item mdl-list__item--three-line"
                    *ngIf="dialog.IsGroup" (click)="navigateToMessages(dialog)"
                    [ngClass]="{'selected': dialog.Id === currentDialogId && currentDialogIsGroup === dialog.IsGroup}">
                    <span class="mdl-list__item-primary-content">
                        <img src="{{dialog.Avatar | avatarPipe:dialog.IsGroup}}" class="material-icons mdl-list__item-avatar">
                        <span>{{dialog.Name}}</span>
                        <span class="mdl-list__item-text-body" [innerHTML]="dialog.LastMessage">
                            <!-- {{dialog.LastMessage}} -->
                        </span>
                    </span>
                </li>
              </div>
          </ul>
      </li>
    </ul>
  </div>
</form>
