<form>
  <div class="text-input-container">
    <div class="menu-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label menu-input">
      <input class="mdl-textfield__input" name="search" type="text" autocomplete="off" [(ngModel)]="searchString" (keyup)="search()" id="search-users">
      <label class="mdl-textfield__label" for="search-users">Find...</label>
    </div>
  </div>

  <ul class="demo-list-three mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let user of result">
    <span class="mdl-list__item-primary-content">
      <a [routerLink]="['user-details', user.Id]" skipLocationChange>
        <img src="{{user.Avatar | avatarPipe}}" class="material-icons mdl-list__item-avatar">
      </a>
      <span>{{user.Name}}</span>
      <span class="mdl-list__item-text-body">
        {{user.City}}
      </span>
    </span>
   <a class="mdl-list__item-secondary-action add-contact new-user" *ngIf="!checkInContact(user.Id)" (click)="addToContact(user.Id)">
    <div class="tooltip-left" data-tooltip="Add user to contacts">
      <i class="material-icons light">add</i>
    </div>
  </a>
    <a class="mdl-list__item-secondary-action add-contact" *ngIf="checkInContact(user.Id)"><i class="material-icons light">{{findContact(user.Id)}}</i></a>
  </li>
</ul>
	<div class="menu__search__not_found" *ngIf="isLoad && result!==undefiend && result.length === 0 && searchString!==''" >Unfortunately, nothing was found on your request :(</div>
	<div class="wrapper__spiner">
		<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" [hidden]="(isLoad && searchString) || !searchString"></div>
	</div>
</form>