@import '../../../vars.scss';

.jc-group-edit-title-container{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.jc-list-user{
    height: 300px;

    li:hover{
        background-color: #F5F5F5;
        margin-left: 1px;
    }
}

.jc-list-added{
    overflow :auto;
    margin-top: 82px;
}

.jg-buttons-bottom-cantainer{
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
}
.jg-button-bottom{
    margin-left: 16px;
}

.jg-full-width-container{
    width: 100%;
}

.jg-container{
    width: calc(100% - 10px);
    height: calc(100vh - 10px);
    margin: 5px auto;
    min-height: 600px;
}