@import '../../../vars.scss';

.data-container{
   width:100%;
}

.autowide{
    width: auto;
}

.padding-vertical-10{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
.group-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.user-editing-main{
    flex-direction: column;
}
.user-editing-group h6{
    margin: 0;
}

.user-editing-group h5{
    margin: 8px 0;
}
.user-editing-button-container {
    float: right;
    padding-right: 10px;
}