<div class="login-container">
<div class="wrapper-modal">
	<div class="modal">
	    <div class="mdl-dialog__content">
	      <p>
	        Thank for registration! <br>A letter with further action is sent to the posted post.
	      </p>
	    </div>
	    <div class="event-button">
	      <button type="button" class=" button-close mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Ok</button>
	    </div>
    </div>
</div>

<div class="demo-card-wide mdl-card mdl-shadow--2dp" id="card">
	<div id="p2" *ngIf="!isLoadComplete" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#sign-in" class="mdl-tabs__tab is-active">Log In</a>
      <a href="#sign-up" class="mdl-tabs__tab">Registration</a>
     </div>
    <app-login-sign-in></app-login-sign-in>
    <app-login-sign-up (loadEvent)="receiveLoadResult($event)"></app-login-sign-up>
  </div>
</div>
</div>
