@import '../../../vars.scss';

.settings-item {
    margin-top: 2em;
}

.jg-buttons-bottom-cantainer{
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
    padding: 0;
}

.jg-button-bottom{
    margin: 10px 10px 10px 0px;
}

.jg-full-width-container{
    width: 100%;
}

.jg-container{
    margin: $card-padding;
    width: calc(74% - 2 * #{$card-padding});
    //min-height: calc(100vh - 10px);
   position: absolute;
   margin-left: calc(26% + #{$card-padding});
   top: 0;
   left: 0;
}
@media (max-width: 1024px){
    .jg-container{
        margin: $card-padding 26%;
        right: calc(-13% + #{$card-padding});
    }
}
.jg-header-container{
    width:  100%;
    display: flex;
    h3 {
        margin: 0;
    }
    > div{
        padding: 8px;    
    }
}