<div class="data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
    <div class="user-editing-main data-container mdl-color--white mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-layout__content">
        <div class="settings-header"><h3>Settings</h3></div><hr />
        <div class="user-editing-group mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <!--<div class="settings-item">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-notifications-users">
                            <input type="checkbox" id="switch-notifications-users" class="mdl-switch__input" name="notificationFromUsers" [(checked)]="notificationFromUsers" [(ngModel)]="notificationFromUsers" (ngModelChange)="onNotificationsFromUsers()">
                            <span class="mdl-switch__label">Turn off notifications from users</span>
                        </label>
                    </div>
                    <div class="settings-item">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-notifications-groups"> 
                            <input type="checkbox" id="switch-notifications-groups" [(checked)]="notificationFromGroups" [(ngModel)]="notificationFromGroups" (ngModelChange)="onNotificationsFromGroups()">
                            <span class="mdl-switch__label">Turn off notifications from groups</span>
                        </label>
                    </div>-->
                    <input type="checkbox" [(ngModel)]="notificationFromUsers" (ngModelChange)="onNotificationsFromUsers()" ><span class="mdl-switch__label">Turn off notifications from users</span>
                    <br><input type="checkbox" [(ngModel)]="notificationFromGroups" (ngModelChange)="onNotificationsFromGroups()" ><span class="mdl-switch__label">Turn off notifications from groups</span>
                    <div class="settings-item">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
