@import '../../../vars.scss';

.settings-item {
    padding-bottom: 2.2em;
}

.logout-settings-item {
    padding-top: 0.8em;
}

.jg-buttons-bottom-cantainer{
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
    padding: 0;
}

.jg-button-bottom{
    margin: 10px 10px 10px 0px;
}

.jg-full-width-container{
    width: 100%;
}
.jg-container{
    height:auto;
}
.jg-header-container{
    width:  100%;
    display: flex;
    h3 {
        margin: 0;
    }
    > div{
        padding: 8px;    
    }
}

.mdl-switch::ng-deep .mdl-switch__track {
    background: rgba(125, 170, 194, 0.5);
}

.mdl-switch.is-checked::ng-deep .mdl-switch__thumb {
    background: royalblue;
}

.setting-subscription-text {
    padding-left: 1.5em;
    color: grey;
    >p {
        font-size: 80%;
    }
}