.settings-item {
    margin-top: 2em;
}

.jg-buttons-bottom-cantainer{
    margin-top: auto;
    display: flex;
    justify-content:flex-end;
    padding: 0;
}

.jg-button-bottom{
    margin: 10px 10px 10px 0px;
}

.jg-full-width-container{
    width: 100%;
}

.jg-container{
    width: 74%;
    //min-height: calc(100vh - 10px);
   position: absolute;
   left: 26%;
}

.jg-header-container{
    width:  100%;
    display: flex;
    h3 {
        margin: 0;
    }
    > div{
        padding: 8px;    
    }
}